* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    transition: all .5s;
}

:root {
    --dark-grey-color: #111111;
    --yellow-color: #E3FF04;
}

::selection {
    background-color: var(--yellow-color);
    color: #111111;
}

svg {
    cursor: pointer;
}


body {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--dark-grey-color);
}

header {
    padding: 30px 50px;
    color: white;
    width: 100%;
}

header nav ul {
    border: 3px solid var(--yellow-color);
    width: 100%;

}

header nav ul li:hover {
    color: var(--yellow-color);
    cursor: pointer;
}

.hamburger-menu {
    background-color: var(--yellow-color);
    width: 40px;
}

.clicked-hamburger {
    width: 350px;
    background-color: #181818;
    z-index: 5;
    height: 100vh;
    transition: all .5s;
    transform: translateX(100%);


}

.active {
    transform: translateX(0%);

}

.hamburger-info p {
    color: grey;
}

/* <!-- --------------------nav ends--------------------- --> */
/* <!-- --------------------header starts--------------------- --> */
.header-main {
    padding-top: 70px;
}

.header-container h1 {
    font-size: 250px;

}

.header-img {
    width: 310px;
}

.header-img img {
    border-radius: 30px;
    width: 100%;
}

.header-img span {
    color: var(--yellow-color);
    font-size: 50px;
}

@media screen and (max-width: 1200px) {
    .header-container h1 {
        font-size: 200px;
    }

    .header-container {
        margin-top: 70px;
    }

}

@media screen and (max-width: 992px) {
    .header-container h1 {
        font-size: 150px;
    }

    .header-img {
        width: 250px;
    }

    .header-img span {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .header-container h1 {
        font-size: 100px;
    }

    .header-img {
        width: 200px;
    }

    .header-img span {
        font-size: 25px;
    }
}

@media screen and (max-width: 576px) {
    .header-container h1 {
        font-size: 70px;
    }

    .header-img {
        width: 150px;
    }

    .header-img span {
        font-size: 20px;
    }
}

@media screen and (max-width: 453px) {
    .header-container h1 {
        font-size: 70px;
    }

    .header-img {
        width: 100px;
    }

    .header-img span {
        font-size: 16px;
    }
}

/* <!-- --------------------header ends--------------------- -->
<!-- --------------------our games starts--------------------- --> */
.our-games-img {
    padding: 30px;
    position: relative;
}

.our-games-img img {
    width: 100%;
    border-radius: 30px;
}

.our-games-button {
    width: 160px;
    height: 160px;
    line-height: 160px;
    border: 3px solid var(--yellow-color);
    text-align: center;
    color: var(--yellow-color);
    position: absolute;
    transform: translateY(-70%);
    left: 43%;
    background-color: var(--dark-grey-color);
}

.our-games-button:hover {
    transform: translateY(-80%);
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .our-games-button {
        width: 120px;
        height: 120px;
        line-height: 120px;

    }
}

@media screen and (max-width: 670px) {
    .our-games-button {
        left: 40%;
    }
}

@media screen and (max-width: 453px) {
    .our-games-button {
        left: 35%;
        font-size: 12px;
    }

}

/* <!-- --------------------our games ends--------------------- --> */
/* <!-- --------------------about starts--------------------- -->  */
.about {
    height: auto;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.get-In-Touch {
    background-color: transparent;
    border: 1px solid var(--yellow-color);
    width: 150px;
    font-size: 15px;
}

.about-left-img {
    transform: rotate(-15deg) translateX(-10%);


}
.about-right-back-img{
    transform: rotate(-15deg);

}
.about-right-front-img {
    transform: rotate(15deg) translateY(-60%);
 
 
}
.about-text>p>strong{
    color: var(--yellow-color);
}
.about-title{
    font-size: 150px;
    opacity: 5%;
    transform: translate(-15%,20%);
}
@media screen and (max-width:992px) {
    .about-title{
    transform: translate(0%,20%);
}
.about-info{
    padding: 0px 100px;
}
.about-right-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}
@media screen and (max-width:576px){
    .about-info{
    padding: 90px 40px;
    
}
}
/* <!-- -------------------about ends--------------------- --> */
/* <!-- -------------------expertise starts--------------------- --> */
.expertise {
    background-color: #181818;
}

.expertise-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.our-expertise-text span {
    color: var(--yellow-color);
}

#typing {
    width: 80%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--yellow-color);
}

.game-design-paragraph {
    width: 300px;
}

.game-design-title svg,
.our-expertise-text span svg,
.why-us-info>span>svg {
    fill: var(--yellow-color);
}

.game-design-container {
    opacity: 0;
    transform: translateY(20px);
}

.game-design-container.animate {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.game-design-container[data-delay="0"].animate {
    animation-delay: 0s;
}

.game-design-container[data-delay="1"].animate {
    animation-delay: 0.5s;
}

.game-design-container[data-delay="2"].animate {
    animation-delay: 1s;
}

.get-In-Touch {
    background-color: transparent;
    border: 1px solid var(--yellow-color);
    width: 150px;
    font-size: 15px;
}

.get-In-Touch:hover {
    background-color: var(--yellow-color);
    color: #111111;
}

@media screen and (max-width: 990px) {
    .our-expertise {
        flex-direction: column;
    }

    .expertise-container {
        gap: 30px;
    }
}

@media screen and (max-width:700px) {
    .game-design-container {
        justify-content: start !important;
    }

    #typing {
        font-size: 25px !important;
    }

    .game-design {
        flex-direction: column;
    }

    .game-design-paragraph {
        width: 80%;
    }
}

/* <!-- -------------------expertise ends--------------------- --> */
/* <!-- -------------------why us starts--------------------- --> */

.why-us-img img {
    width: 100%;

}

.why-us-info span {
    color: var(--yellow-color);
}

.why-us-info {
    padding: 50px 100px;
}

.why-us-info p {
    width: 80%;
}

.why-us-info ul li {
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
}

.why-us-info ul svg {
    opacity: 25%;
}


@media screen and (max-width:680px) {
    .why-us-info-items {
        flex-direction: column;
    }

    .why-us-info {
        padding: 50px 20px;
    }
}

/* <!-- -------------------why us ends--------------------- --> */
/* <!-- -------------------gaming studio starts--------------- ------ --> */
.empty {
    background-color: var(--yellow-color);
    height: 3px;
}

.gaming-ai {
    overflow-x: hidden;

}

.gaming-ai-text {
    margin: 50px 0px;
    width: 110vw;
   
}
.gaming-ai-text:hover{
    width: 100vw;
}
.gaming-ai-text h6 {
    font-size: 120px;
    font-weight: bolder;
}

.gaming-ai-text span:nth-child(1) {
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 1px white;
}
@media screen and (max-width:992px) {
    .gaming-ai-text h6 {
    font-size: 80px;
    }
    .gaming-ai-text span:nth-child(1) {
    font-size: 80px;
    }
}
@media screen and (max-width:768px) {
    .gaming-ai-text h6 {
    font-size: 50px;
    }
    .gaming-ai-text span:nth-child(1) {
    font-size: 50px;
    }
}
@media screen and (max-width:576px) {
    .gaming-ai-text h6 {
    font-size: 40px;
    }
    .gaming-ai-text span:nth-child(1) {
    font-size: 40px;
    }
}
/* <!-- -------------------gaming studio ends--------------------- --> */
/* <!-- -------------------project starts--------------------- --> */
.project-container {
    margin: 25px 20px;
    border-bottom: 1px solid grey;
    padding: 50px 0px;

}

.project-container:hover {
    border-bottom: 1px solid var(--yellow-color);
    cursor: pointer;
}

.project {
    margin-top: 100px;
}

.project-img img {
    width: 100%;

}

.project-info p {
    width: 40%;
}

.project-name span {
    color: var(--yellow-color);
}


@media screen and (max-width:768px) {
    .project-info p {
        width: 40%;
    }

    .project-container {
        padding-top: 20px;
    }
}

/* <!-- -------------------project ends--------------------- --> */
/* <!-- -------------------more projects starts--------------------- --> */
.more-projects {
    width: 160px;
    height: 160px;
    border: 2px solid var(--yellow-color);
    text-align: center;

}

.more-projects-container:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

.more-projects h6 {
    color: var(--yellow-color);
    line-height: 160px;
}

/* <!-- -------------------more projects ends--------------------- --> */
/* <!-- -------------------feedback starts--------------------- --> */
.feedback {
    background-color: #181818;
    height: 100%;
    padding-top: 100px;
}

.feedback-user-img img,
.feedback-user-img2 img,
.feedback-background img {
    width: 100%;
}

.feedback-stars svg {
    fill: var(--yellow-color);
}

.feedback-sender span {
    color: var(--yellow-color);
}

.feedback-info {
    padding: 100px;
    gap: 80px;
}

.feedback-title h6 {
    width: 80%;
    text-align: center;
    font-size: 40px;
}

.feedback-title span,
.feedback-title svg {
    color: var(--yellow-color);
    fill: var(--yellow-color);
}

.feedback-user-img {
    background-color: var(--yellow-color);
    height: 80px;
}

.feedback-user-img2 {
    height: 80px;
    background-color: #363636;
}

@media screen and (max-width:768px) {
    .feedback-info {
        padding: 30px;
    }

    .feedback-title h6 {
        font-size: 25px;
    }
}

/* <!-- -------------------feedback ends--------------------- --> */
/* <!-- -------------------brands starts--------------------- --> */
.brands h3 {
    color: #111111;

}

hr {
    color: #111111;
    width: 80%;
}

.brands-container {
    background-color: var(--yellow-color);
    margin: 0px 120px;
    transform: translateY(-50%);
}

.empty-line {
    background-color: #111111;
    width: 80%;
    height: 1px;
}

.backers-img div {
    width: 50px;
    height: 50px;
}

.backers-img img {
    width: 100%;
}

.backers-paragraph p,
a {
    color: #111111;
}

@media screen and (max-width:990px) {
    .backers-paragraph p {
        width: 50%;
        text-align: center;
    }

    .brands-container {
        transform: translateY(-30%);
    }

}

@media screen and (max-width:768px) {
    .brands-container {
        margin: 0px 50px;
    }

    .brands-container {
        transform: translateY(-10%);
    }
}

@media screen and (max-width: 576px) {
    .brands-container {
        margin: 0px 10px;
    }

    .backers-paragraph p {
        width: 100%;
    }

}

/* <!-- -------------------brands ends--------------------- --> */
/* <!-- -------------------insight starts--------------------- --> */
.indie-img img {
    width: 100%;
}

.indie {
    border: 2px solid var(--yellow-color);
    background-color: #181818;
}

.insights span,
.insights span svg {
    color: var(--yellow-color);
    fill: var(--yellow-color);
}

.indie-text div div>span:nth-child(1) {
    color: var(--yellow-color);
}

/* <!-- -------------------insight ends--------------------- --> */
/* <!-- -------------------footer starts--------------------- --> */
.facebook-icon {
    border: 1px solid white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.footer {
    background-color: #181818;
    font-size: 13px !important;
    padding-bottom: 50px;
}

.footer-main {
    padding: 70px;
}

.muzilla-footer-text p {
    width: 70%;
}

.essential-item span:first-child,
.essential-item>span>svg:first-child,
.get-in-touch-map span,
.get-in-touch-map span svg {
    color: var(--yellow-color);
    fill: var(--yellow-color);
}

.how-it-works {
    color: white !important;
}

/* <!-- -------------------footer ends--------------------- --> */