* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* overflow-y: hidden; */
    color: white;
    transition: all .5s;
}

:root {
    --dark-grey-color: #111111;
    --yellow-color: #E3FF04;
}

svg {
    cursor: pointer;
}


body {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--dark-grey-color);
}

header {
    padding: 30px 50px;
    color: white;
    width: 100%;
}

header nav ul {
    border: 3px solid var(--yellow-color);
    /* gap: 30px; */
    width: 100%;

}

header nav ul li:hover {
    color: var(--yellow-color);
    cursor: pointer;
}

.hamburger-menu {
    background-color: var(--yellow-color);
    width: 40px;
}

.clicked-hamburger {
    width: 350px;
    background-color: #181818;
    z-index: 5;
    height: 100vh;
    transition: all .5s;
    transform: translateX(100%);


}

.active {
    transform: translateX(0%);

}

.hamburger-info p {
    color: grey;
}

/* <!-- --------------------nav ends--------------------- --> */
/* <!-- --------------------header starts--------------------- --> */
.header-main {
    padding-top: 70px;
}

.header-container h1 {
    font-size: 250px;

}

.header-img {
    width: 310px;
}

.header-img img {
    border-radius: 30px;
    width: 100%;
}

.header-img span {
    color: var(--yellow-color);
    font-size: 50px;
}

@media screen and (max-width: 1200px) {
    .header-container h1 {
        font-size: 200px;
    }

    .header-container {
        margin-top: 70px;
    }

}

@media screen and (max-width: 992px) {
    .header-container h1 {
        font-size: 150px;
    }

    .header-img {
        width: 250px;
    }

    .header-img span {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .header-container h1 {
        font-size: 100px;
    }

    .header-img {
        width: 200px;
    }

    .header-img span {
        font-size: 25px;
    }
}

@media screen and (max-width: 576px) {
    .header-container h1 {
        font-size: 70px;
    }

    .header-img {
        width: 150px;
    }

    .header-img span {
        font-size: 20px;
    }
}

@media screen and (max-width: 453px) {
    .header-container h1 {
        font-size: 50px;
    }

    .header-img {
        width: 100px;
    }

    .header-img span {
        font-size: 16px;
    }
}

/* <!-- --------------------header ends--------------------- -->
<!-- --------------------our games starts--------------------- --> */
.our-games-img {
    padding: 30px;
    position: relative;
}

.our-games-img img {
    width: 100%;
    border-radius: 30px;
}

.our-games-button {
    width: 160px;
    height: 160px;
    line-height: 160px;
    border: 3px solid var(--yellow-color);
    text-align: center;
    color: var(--yellow-color);
    position: absolute;
    transform: translateY(-70%);
    left: 43%;
    background-color: var(--dark-grey-color);
}

.our-games-button:hover {
    transform: translateY(-80%);
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .our-games-button {
        width: 120px;
        height: 120px;
        line-height: 120px;

    }
}

@media screen and (max-width: 670px) {
    .our-games-button {
        left: 40%;
    }
}

@media screen and (max-width: 453px) {
    .our-games-button {
        left: 35%;
        font-size: 12px;
    }

}

/* <!-- --------------------our games ends--------------------- --> */
/* <!-- --------------------about starts--------------------- -->  */
.about {
    height: 100vh;
    margin-top: 70px;
}

.about-container {
    flex-wrap: wrap;
}

.about-left {
    transform: rotate(-15deg) translateX(-25%);
}

.about-right-behind {
    transform: rotate(-15deg) translate(-50%, 30%);
}

.about-right-front {
    transform: rotate(15deg) translateX(10%);
    bottom: 10%;
}

.about-info {
    transform: translateX(-30%);
    width: 700px;
}

.about-info>h2 {
    font-size: 150px;
    opacity: 5%;
    transform: translate(-20%, -20%);
}

.about-info p strong {
    color: var(--yellow-color);
}

.get-In-Touch {
    background-color: transparent;
    border: 1px solid var(--yellow-color);
    width: 150px;
    font-size: 15px;
}

.get-In-Touch:hover {
    background-color: var(--yellow-color);
    color: black;
}

.about-info-main {
    transform: translateY(-25%);
}

.about-info-main>p {
    font-size: 50px;
}

@media screen and (max-width:992px) {
    .about-info {
        transform: translateX(0%);
    }

    .about-container {
        flex-direction: column;
    }

    .about-info>h2 {
        transform: translate(0%, -20%);
    }

}

/* <!-- -------------------about ends--------------------- --> */
/* <!-- -------------------expertise starts--------------------- --> */
.expertise {
    background-color: #181818;
}

.expertise-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.our-expertise-text span {
    color: var(--yellow-color);
}

#typing {
    width: 80%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--yellow-color);
}

.game-design-paragraph {
    width: 300px;
}

.game-design-title svg,
.our-expertise-text span svg,
.why-us-info>span>svg {
    fill: var(--yellow-color);
}

@media screen and (max-width: 990px) {
    .our-expertise {
        flex-direction: column;
    }

    .expertise-container {
        gap: 30px;
    }
}

@media screen and (max-width:700px) {
    .game-design-container {
        justify-content: start !important;
    }

    #typing {
        font-size: 25px !important;
    }

    .game-design {
        flex-direction: column;
    }

    .game-design-paragraph {
        width: 80%;
    }
}

/* <!-- -------------------expertise ends--------------------- --> */
/* <!-- -------------------why us starts--------------------- --> */
.why-us-img img {
    width: 100%;

}

.why-us-info span {
    color: var(--yellow-color);
}

.why-us-info {
    padding: 50px 100px;
}

.why-us-info p {
    width: 80%;
}

.why-us-info ul li {
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
}

.why-us-info ul svg {
    opacity: 25%;
}

@media screen and (max-width:680px) {
    .why-us-info-items {
        flex-direction: column;
    }

    .why-us-info {
        padding: 50px 20px;
    }
}

/* <!-- -------------------why us ends--------------------- --> */
/* <!-- -------------------gaming studio starts--------------- ------ --> */
.empty {
    background-color: var(--yellow-color);
    height: 3px;
}

/* <!-- -------------------gaming studio ends--------------------- --> */
/* <!-- -------------------project starts--------------------- --> */
.project-container {
    margin: 10px 20px;

}

.project {
    margin-top: 100px;
}

.project-img img {
    width: 100%;

}

.project-info p {
    width: 40%;
}

.project-name span {
    color: var(--yellow-color);
}

.project-line {
    width: 90%;
    height: 1px;
    background-color: var(--yellow-color);
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .project-info p {
        width: 40%;
    }

    .project-container {
        padding: 10px;
    }
}

/* <!-- -------------------project ends--------------------- --> */
/* <!-- -------------------more projects starts--------------------- --> */
.more-projects {
    width: 160px;
    height: 160px;
    border: 2px solid var(--yellow-color);
    text-align: center;

}

.more-projects-container:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

.more-projects h6 {
    color: var(--yellow-color);
    line-height: 160px;
}

/* <!-- -------------------more projects ends--------------------- --> */
/* <!-- -------------------feedback starts--------------------- --> */
/* <!-- -------------------feedback ends--------------------- --> */